<!DOCTYPE html>
<html lang="en">
    <body class="container">
        <main>
            <div class="jumbotron">
                <strong>Orders:</strong>
                <p><a class="nav-link" href="/costOfEvery">Cost Of All Orders</a></p>
                <p>
                    <button><a class="nav-link" href="/sortHighToLow">High To Low</a></button>
                    <button><a class="nav-link" href="/sortLowToHigh">Low To High</a></button>
                </p>
                <ul>
                    <% items.forEach(function(elm) { %>
                    <li>
                        <strong><%= elm._title %></strong>
                        <p>COST: <%= elm._cost %></p>
                        <p>ORDER: <%= elm._order %></p>
                        <p>LIKE: <%= elm._like %></p>
                        <p>AMOUNT: <%= elm._amount %></p>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </main>
    </body>
</html>
